<!DOCTYPE html>
<html lang="zh-Hans">
	<head>
		<meta charset="utf-8" />
		<title>课程中心 - 计算机视觉基础</title>
		<meta name="keywords" content="课程中心,计算机视觉基础" />
		<meta name="description" content="课程中心,计算机视觉基础" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="/site_media/dashboard/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/site_media/dashboard/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="/site_media/dashboard/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<link rel="stylesheet" href="/site_media/dashboard/css/prettify.css" />

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" href="/site_media/dashboard/css/ace.min.css" />
		<link rel="stylesheet" href="/site_media/dashboard/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/site_media/dashboard/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/site_media/dashboard/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="/site_media/dashboard/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="/site_media/dashboard/js/html5shiv.js"></script>
		<script src="/site_media/dashboard/js/respond.min.js"></script>
		<![endif]-->
	</head>