<!DOCTYPE html>
<html lang="zh-Hans">
	<head>
		<meta charset="utf-8" />
		<title>课程中心 - 计算机视觉基础</title>
		<meta name="keywords" content="课程中心,计算机视觉基础" />
		<meta name="description" content="课程中心,计算机视觉基础" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="/site_media/dashboard/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/site_media/dashboard/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="/site_media/dashboard/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<link rel="stylesheet" href="/site_media/dashboard/css/prettify.css" />

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" href="/site_media/dashboard/css/ace.min.css" />
		<link rel="stylesheet" href="/site_media/dashboard/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/site_media/dashboard/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/site_media/dashboard/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="/site_media/dashboard/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="/site_media/dashboard/js/html5shiv.js"></script>
		<script src="/site_media/dashboard/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							<span style="text-transform: uppercase;">Computer Vision</span>
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="/site_media/dashboard/avatars/user.gif" alt="Jason's Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									{{user_name}}
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="icon-cog"></i>
										Settings
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-user"></i>
										Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="#">
										<i class="icon-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>
					<ul class="nav nav-list">
						<li class="active">
							<a href="logon-index.html">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 首页 </span>
							</a>
						</li>
                        
                        <li>
							<a href="news.html" class="dropdown-toggle">
								<i class="icon-comments-alt"></i>
								<span class="menu-text"> 通知公告 </span>
							</a>
						</li>
                        
                        <li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-book"></i>
								<span class="menu-text"> 课件教案 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="tfile.html">
										<i class="icon-double-angle-right"></i>
										教师文件
									</a>
								</li>

								<li>
									<a href="sfile.html">
										<i class="icon-double-angle-right"></i>
										学生文件
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="update.html" class="dropdown-toggle">
								<i class="icon-cloud-upload"></i>
								<span class="menu-text"> 文件上传 </span>
							</a>
						</li>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li class="active">
								<i class="icon-home home-icon"></i>
								<a href="#">Home</a>
							</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								计算机视觉基础
								<small>
									<i class="icon-double-angle-right"></i>
									欢迎登陆课程中心！
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">                        
                            <div class="col-xs-12 col-sm-6 widget-container-span">
                                <div class="widget-box">
                                    <div class="widget-header header-color-blue">
                                        <h5 class="bigger lighter">
                                            <i class="icon-quote-left smaller-80"></i>
                                                News
                                        </h5>	
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main no-padding">
                                            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Type</th>
                                                        <th>
                                                            <i class="icon-time bigger-110 hidden-480"></i>
                                                            Update
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="#">通知一</a>
                                                        </td>
                                                        <td>公告</td>
                                                        <td>Feb 18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">通知二</a></td>
                                                        <td>公告</td>
                                                        <td>Mar 11</td>													
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">通知三</a>
                                                        </td>
                                                        <td>公告</td>
                                                        <td>Apr 03</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">通知四</a>
                                                        </td>
                                                        <td>公告</td>
                                                        <td>Jan 21</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /span -->
                            <div class="col-xs-12 col-sm-6 widget-container-span">
                                <div class="widget-box">
                                    <div class="widget-header header-color-blue">
                                        <h5 class="bigger lighter">
                                            <i class="icon-quote-left smaller-80"></i>
                                                Updates
                                        </h5>	
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main no-padding">
                                            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>File</th>
                                                        <th>From</th>
                                                        <th>
                                                            <i class="icon-time bigger-110 hidden-480"></i>
                                                            Update
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="#">file updated!</a>
                                                        </td>
                                                        <td>teacher</td>
                                                        <td>Feb 18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">file updated!</a></td>
                                                        <td>student</td>
                                                        <td>Mar 11</td>													
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">file updated!</a>
                                                        </td>
                                                        <td>teacher</td>
                                                        <td>Apr 03</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">file updated!</a>
                                                        </td>
                                                        <td>teacher</td>
                                                        <td>Jan 21</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /span -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<div class="ace-settings-container" id="ace-settings-container">
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/site_media/dashboard/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/site_media/dashboard/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='/site_media/dashboard/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/site_media/dashboard/js/bootstrap.min.js"></script>
		<script src="/site_media/dashboard/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<script src="/site_media/dashboard/js/prettify.js"></script>

		<!-- ace scripts -->

		<script src="/site_media/dashboard/js/ace-elements.min.js"></script>
		<script src="/site_media/dashboard/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			jQuery(function($) {
			
				window.prettyPrint && prettyPrint();
				$('#id-check-horizontal').removeAttr('checked').on('click', function(){
					$('#dt-list-1').toggleClass('dl-horizontal').prev().html(this.checked ? '&lt;dl class="dl-horizontal"&gt;' : '&lt;dl&gt;');
				});
			
			})
		</script>
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
