{% extends 'dashboard/base.html' %}
{% block title %}计算机视觉 课程中心{% endblock %}
{% block navlist %}
					<ul class="nav nav-list">
						<li class="active">
							<a href="">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 首页 </span>
							</a>
						</li>
                        
                        <li>
							<a href="news" class="dropdown-toggle">
								<i class="icon-comments-alt"></i>
								<span class="menu-text"> 通知公告 </span>
							</a>
						</li>
                        
                        <li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-book"></i>
								<span class="menu-text"> 课件教案 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="tfile">
										<i class="icon-double-angle-right"></i>
										教师文件
									</a>
								</li>

								<li>
									<a href="sfile">
										<i class="icon-double-angle-right"></i>
										学生文件
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="update" class="dropdown-toggle">
								<i class="icon-cloud-upload"></i>
								<span class="menu-text"> 文件上传 </span>
							</a>
						</li>
					</ul><!-- /.nav-list -->
{% endblock %}
{% block content %}
					<div class="page-content">
						<div class="page-header">
							<h1>
								计算机视觉基础
								<small>
									<i class="icon-double-angle-right"></i>
									欢迎登陆课程中心！
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">                        
                            <div class="col-xs-12 col-sm-6 widget-container-span">
                                <div class="widget-box">
                                    <div class="widget-header header-color-blue">
                                        <h5 class="bigger lighter">
                                            <i class="icon-quote-left smaller-80"></i>
                                                News
                                        </h5>	
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main no-padding">
                                            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Type</th>
                                                        <th>
                                                            <i class="icon-time bigger-110 hidden-480"></i>
                                                            Update
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="#">通知一</a>
                                                        </td>
                                                        <td>公告</td>
                                                        <td>Feb 18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">通知二</a></td>
                                                        <td>公告</td>
                                                        <td>Mar 11</td>													
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">通知三</a>
                                                        </td>
                                                        <td>公告</td>
                                                        <td>Apr 03</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">通知四</a>
                                                        </td>
                                                        <td>公告</td>
                                                        <td>Jan 21</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /span -->
                            <div class="col-xs-12 col-sm-6 widget-container-span">
                                <div class="widget-box">
                                    <div class="widget-header header-color-blue">
                                        <h5 class="bigger lighter">
                                            <i class="icon-quote-left smaller-80"></i>
                                                Updates
                                        </h5>	
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main no-padding">
                                            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>File</th>
                                                        <th>From</th>
                                                        <th>
                                                            <i class="icon-time bigger-110 hidden-480"></i>
                                                            Update
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="#">file updated!</a>
                                                        </td>
                                                        <td>teacher</td>
                                                        <td>Feb 18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">file updated!</a></td>
                                                        <td>student</td>
                                                        <td>Mar 11</td>													
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">file updated!</a>
                                                        </td>
                                                        <td>teacher</td>
                                                        <td>Apr 03</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">file updated!</a>
                                                        </td>
                                                        <td>teacher</td>
                                                        <td>Jan 21</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /span -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
{% endblock %}

