{% extends 'dashboard/base.html' %}
{% block navlist %}
					<ul class="nav nav-list">
						<li>
							<a href="/">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 首页 </span>
							</a>
						</li>
                        
                        <li>
							<a href="/news" class="dropdown-toggle">
								<i class="icon-comments-alt"></i>
								<span class="menu-text"> 通知公告 </span>
							</a>
						</li>
                        
                        <li class="active open">
							<a href="#" class="dropdown-toggle">
								<i class="icon-book"></i>
								<span class="menu-text"> 课件教案 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/tfile">
										<i class="icon-double-angle-right"></i>
										教师文件
									</a>
								</li>

								<li class="active">
									<a href="/sfile">
										<i class="icon-double-angle-right"></i>
										学生文件
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="/update" class="dropdown-toggle">
								<i class="icon-cloud-upload"></i>
								<span class="menu-text"> 文件上传 </span>
							</a>
						</li>
					</ul><!-- /.nav-list -->
{%endblock %}
{%block content %}

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
{% endblock %}
