{% extends 'dashboard/base.html' %}
{%block title %} 上传文件 课程中心{%endblock%}
{%block navlist%}
					<ul class="nav nav-list">
						<li class="active">
							<a href="../logon-index">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 首页 </span>
							</a>
						</li>
                        
                        <li>
							<a href="../news" class="dropdown-toggle">
								<i class="icon-comments-alt"></i>
								<span class="menu-text"> 通知公告 </span>
							</a>
						</li>
                        
                        <li class="active open">
							<a href="#" class="dropdown-toggle">
								<i class="icon-book"></i>
								<span class="menu-text"> 课件教案 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li class="active">
									<a href="../tfile">
										<i class="icon-double-angle-right"></i>
										教师文件
									</a>
								</li>

								<li>
									<a href="../sfile">
										<i class="icon-double-angle-right"></i>
										学生文件
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="../update" class="dropdown-toggle">
								<i class="icon-cloud-upload"></i>
								<span class="menu-text"> 文件上传 </span>
							</a>
						</li>
					</ul><!-- /.nav-list -->
{% endblock %}
{% block breadcrumb %}

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="logon-index.html">Home</a>
							</li>

							<li>
								<a href="#">Files</a>
							</li>
							<li class="active">From Teacher</li>
						</ul><!-- .breadcrumb -->
{%endblock%}
{% block content %}						
					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
{% endblock %}
		