{% extends 'dashboard/base.html' %}
{% block title %}文件上传 课程中心{% endblock %}
{% block navlist %}
					<ul class="nav nav-list">
						<li>
							<a href="/">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 首页 </span>
							</a>
						</li>
                        
                        <li>
							<a href="/news" class="dropdown-toggle">
								<i class="icon-comments-alt"></i>
								<span class="menu-text"> 通知公告 </span>
							</a>
						</li>
                        
                        <li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-book"></i>
								<span class="menu-text"> 课件教案 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/tfiles">
										<i class="icon-double-angle-right"></i>
										教师文件
									</a>
								</li>

								<li>
									<a href="/sfiles">
										<i class="icon-double-angle-right"></i>
										学生文件
									</a>
								</li>
							</ul>
						</li>

						<li class="active">
							<a href="/update" class="dropdown-toggle">
								<i class="icon-cloud-upload"></i>
								<span class="menu-text"> 文件上传 </span>
							</a>
						</li>
					</ul><!-- /.nav-list -->
{% endblock %}
{% block breadcrumb %}
						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="/">Home</a>
							</li>
							<li class="active">File Upload</li>
						</ul><!-- .breadcrumb -->
{% endblock %}
{%block content %}
					<div class="page-content">
						<div class="page-header">
							<h1>
								文件上传
								<small>
									<i class="icon-double-angle-right"></i>
									Drag &amp; drop file upload with image preview
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="alert alert-info">
									<i class="icon-hand-right"></i>
									提示内容.
									<button class="close" data-dismiss="alert">
										<i class="icon-remove"></i>
									</button>
								</div>

								<div id="dropzone">
									<form action="//dummy.html" class="dropzone">
										<div class="fallback">
											<input name="file" type="file" multiple />
										</div>
									</form>
								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
{% endblock %}
{% block footer %}
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/site_media/dashboard/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/site_media/dashboard/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='/site_media/dashboard/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/site_media/dashboard/js/bootstrap.min.js"></script>
		<script src="/site_media/dashboard/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<script src="/site_media/dashboard/js/dropzone.min.js"></script>

		<!-- ace scripts -->

		<script src="/site_media/dashboard/js/ace-elements.min.js"></script>
		<script src="/site_media/dashboard/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			jQuery(function($){
			
			try {
			  $(".dropzone").dropzone({
			    paramName: "file", // The name that will be used to transfer the file
			    maxFilesize: 0.5, // MB
			  
				addRemoveLinks : true,
				dictDefaultMessage :
				'<span class="bigger-150 bolder"><i class="icon-caret-right red"></i> Drop files</span> to upload \
				<span class="smaller-80 grey">(or click)</span> <br /> \
				<i class="upload-icon icon-cloud-upload blue icon-3x"></i>'
			,
				dictResponseError: 'Error while uploading file!',
				
				//change the previewTemplate to use Bootstrap progress bars
				previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n  <div class=\"dz-error-mark\"><span></span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>"
			  });
			} catch(e) {
			  alert('Dropzone.js does not support older browsers!');
			}
			
			});
		</script>
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
{% endblock %}
