    <footer id="footer">
        <span class="copyright">&copy; 2014 All rights reserved.</span>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/site_media/js/jquery.min.js"></script>
    <script src="/site_media/js/bootstrap.min.js"></script>
    <!--my js for template-->
    <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
    <script src="/site_media/js/jquery.slides.min.js"></script>
    <script>
    $(function() {
        $('#slides').slidesjs({
            width: 940,
            height: 528,
            play: {
                active: true,
                auto: true,
                interval: 4000,
                swap: true
            }
        });
    });
    </script>
    <!-- End SlidesJS Required -->
</body>

</html>